<template name="movie">
	<div class="container">
	<div id="movie" style="background: #0c0d0b;">
		<div class="row" id="row-movie">
			<div class="span12 movie" style="height: 170px;">
				<h1 class="animated fadeInLeft" id="title-movie">{{themovie}}</h1>
			</div>
		</div>
		<div class="row" id="row-storyline" style="height: 220px;">
			<div class="container storyline">
				<div class="span2"></div>
				<div class="span8">
					<h6>{{synopsis}}<br /><br />
						<span style="float:right;">– Kris Haamer & Alex-Keller Fonseca</span></h6>
				</div>
				<div class="span2"></div>
			</div>
		</div>
		<div class="row" id="row-thumbnails">
			<div class="span12 thumbs">
				<ul class="thumbnails span12">
				  <li class="span1"></li>
				  <li class="span6">
					<div class="thumbnail">
					  <img src="gallery/alex-keller-fonseca-still-1.jpg" alt="Alex-Keller Fonseca" id="movie-still-big-view"/>
					  <h3 id="movie-still-big-header">Alex-Keller Fonseca</h3>
					  <p id="movie-still-big-desc">{{atmamaafrica}}</p>
					</div>
				  </li>
				  <li class="span2">
					<div class="thumbnail">
					  <img src="gallery/alex-keller-fonseca-still-1.jpg" alt="Alex-Keller Fonseca" id="movie-still-1" class="movie-still thumb-selected" />
					</div>
				  </li>
				  <li class="span2">
					<div class="thumbnail" id="movie-still-3">
					  <img src="gallery/alex-keller-fonseca-still-3.jpg" alt="Alex-Keller Fonseca" id="movie-still-2" class="movie-still" />
					</div>
				   </li>
				   <li class="span2">
				   	<div class="thumbnail" id="movie-still-4">
				   	  <img src="gallery/alex-keller-fonseca-still-4.jpg" alt="Alex-Keller Fonseca" id="movie-still-3" class="movie-still" />
				   	</div>
					</li>
					<li class="span2">
						<div class="thumbnail" id="movie-still-5">
						  <img src="gallery/alex-keller-fonseca-still-5.jpg" alt="Alex-Keller Fonseca" id="movie-still-4" class="movie-still" />
						</div>
					 </li>
					 <li class="span2">
					 	<div class="thumbnail" id="movie-still-6">
					 	  <img src="gallery/alex-keller-fonseca-still-6.jpg" alt="Alex-Keller Fonseca" id="movie-still-5" class="movie-still" />
					 	</div>
					  </li>
					  <li class="span2">
					  	<div class="thumbnail" id="movie-still-7">
					  	  <img src="gallery/alex-keller-fonseca-still-7.jpg" alt="Alex-Keller Fonseca" id="movie-still-6" class="movie-still" />
					  	</div>
					  </li>
					  <li class="span4">
					  	{{#if currentUser}}	
							<!-- Do nothing. Maybe show pledge reminder? -->
					 	{{else}}	 
					  	<div id="wantmore">
					  	 {{{wanttoseemore}}}
					  	</div>
					  	{{/if}}	
					  </li>
				  <li class="span1"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</template>