<template name="artgallery">
	<div class="container">
	<div id="art-gallery">
		<div class="row" id="row-expert">
			<div class="span12 expert" style="background: #0c0d0b; height: 500px;">
				<h1 class="text-left">{{artguru}}</h1>
			</div>
		</div>
		<div class="row" id="row-artwork">
			<div class="span12 art-scroller carousel slide" id="art">
				  <div class="carousel-inner">
					<div class="active item"><img src="gallery/page-1.jpg" alt="Enter the Storyworld" /></div>
					<div class="item"><img src="gallery/page-2.jpg" alt="Enter the Storyworld" /></div>
					<div class="item"><img src="gallery/page-3.jpg" alt="Enter the Storyworld" /></div>
					<div class="item"><img src="gallery/page-4.jpg" alt="Enter the Storyworld" /></div>
					<div class="item"><img src="gallery/page-5.jpg" alt="Enter the Storyworld" /></div>
					<div class="item"><img src="gallery/page-6.jpg" alt="Enter the Storyworld" /></div>
					<div class="item"><img src="gallery/page-7.jpg" alt="Enter the Storyworld" /></div>
					<div class="item"><img src="gallery/page-8.jpg" alt="Enter the Storyworld" /></div>
				  </div>
				  <a class="carousel-control left" href="#art" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#art" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>
	</div>
</template>