<template name="featured">
	<div class="container">
	<div class="flipper front" id="flipboard">
		<div class="row" id="row-featured">
			<div class="span12 featured" id="featured-1">
				<div >
					<h1 class="animated fadeInLeft" id="title-featured-artist">{{featuredartists}}</h1>
				</div>
			</div>
		</div>
		<div class="row" id="row-artists" style="background: #1a1b17;">
			<div class="container" style="padding-top:40px;">
				<div class="span1"></div>
				<div class="span5 artists" id="artists-1">
					<div class="media animated fadeInLeft artist" id="profile-alex-keller-fonseca" title="Alex-Keller Fonseca">
					  <div class="pull-left">
						<img class="media-object img-rounded" src="artists/alex-keller-fonseca-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">Alex-Keller Fonseca</h4>
							Painter
						</div>
						<p><i class="icon-quote-left"></i> {{alexquote}} <i class="icon-quote-right"></i></p>
					</div>
					<div class="media animated fadeInLeft artist" id="profile-dio-lima"  title="Dio Lima">
					  <div class="pull-left">
						<img class="media-object img-rounded blue-a" src="artists/dio-lima-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">Dio Lima</h4>
						Painter
					  </div>
					  <p><i class="icon-quote-left"></i> {{dioquote}} <i class="icon-quote-right"></i></p>
					</div>
					<div class="media animated fadeInLeft artist" id="profile-olie-ribeiro"  title="Olie Ribeiro">
					  <div class="pull-left">
						<img class="media-object img-rounded" src="artists/olie-ribeiro-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">Olie Ribeiro</h4>
						Painter
					  </div>
					  <p><i class="icon-quote-left"></i> {{oliequote}} <i class="icon-quote-right"></i>
					</div>
					<div class="media animated fadeInLeft artist" id="profile-catita-dias"  title="Catita Dias">
					  <div class="pull-left">
						<img class="media-object img-rounded" src="artists/catita-dias-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">Catita Dias</h4>
						Painter 
					  </div>
					  <p><i class="icon-quote-left"></i> {{catitaquote}} <i class="icon-quote-right"></i>
					</div>
					<div class="media animated fadeInLeft artist" id="profile-julio"  title="Julio">
					  <div class="pull-left">
						<img class="media-object img-rounded" src="artists/julio-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">Julio</h4>
						Painter
					  </div>
					  <p><i class="icon-quote-left"></i>  {{julioquote}} <i class="icon-quote-right"></i></p>
					</div>
					<div class="media animated fadeInLeft artist" id="profile-guilherme-carvalho"  title="Guilherme Carvalho">
					  <div class="pull-left">
						<img class="media-object img-rounded" src="artists/guilherme-carvalho-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">Guilherme Carvalho</h4>
						Painter
					  </div>
					  <p><i class="icon-quote-left"></i> {{guilhermequote}}<i class="icon-quote-right"></i></p>
					</div>
				</div>
				<div class="span5 artists" id="artists-2">
					<div class="media animated fadeInRight artist" id="profile-rene-tavares"  title="René Tavares">
					  <div class="pull-left">
						<img class="media-object img-rounded" src="artists/rene-tavares-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">René Tavares</h4>
						Painter 
					  </div>
					  <p><i class="icon-quote-left"></i> {{renequote}} <i class="icon-quote-right"></i></p>
					</div>
					<div class="media animated fadeInRight artist" id="profile-olavo-amado" title="Olavo Amado">
					  <div class="pull-left">
						<img class="media-object img-rounded" src="artists/olavo-amado-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">Olavo Amado</h4>
						Painter
					  </div>
					  <p><i class="icon-quote-left"></i> {{olavoquote}}<i class="icon-quote-right"></i>
					</div>
					<div class="media animated fadeInRight artist" id="profile-miguel-angel" title="Miguel Angel">
					  <div class="pull-left">
						<img class="media-object img-rounded" src="artists/miguel-angel-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">Miguel Angel</h4>
						Painter 
					  </div>
					  <p><i class="icon-quote-left"></i> {{miguelquote}} <i class="icon-quote-right"></i>
					 </p>
					</div>
					<div class="media animated fadeInRight artist" id="profile-leonel-varela" title="Leonel Varela">
					  <div class="pull-left">
						<img class="media-object img-rounded" src="artists/leonel-varela-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">Leonel Varela</h4>
						Painter
					  </div>
					  <p><i class="icon-quote-left"></i> {{leonelquote}} <i class="icon-quote-right"></i></p>
					</div>
					<div class="media animated fadeInRight artist" id="profile-nelito-pereira" title="Nelito Pereira">
					  <div class="pull-left">
						<img class="media-object img-rounded" src="artists/nelito-pereira-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">Nelito Pereira</h4>
						Painter 
					  </div>
					  <p><i class="icon-quote-left"></i> {{nelitoquote}} <i class="icon-quote-right"></i></p>
					</div>
					<div class="media animated fadeInRight artist" id="profile-jesus-quaresma" title="Jesus Quaresma">
					  <div class="pull-left">
						<img class="media-object img-rounded" src="artists/jesus-quaresma-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">Jesus Quaresma</h4>
						<div class="artist-subtitle">Painter</div>
					  </div>
					  <p><i class="icon-quote-left"></i> {{jesusquote}} <i class="icon-quote-right"></i></p>
					</div>
					<div class="media animated fadeInLeft artist" id="profile-nezo" title="Nezo">
					  <div class="pull-left">
						<img class="media-object img-rounded" src="artists/nezo-90.jpg" />
					  </div>
					  <div class="media-body">
						<h4 class="media-heading">Nezo</h4>
						<div class="artist-subtitle">Painter & Musician</div>
					  </div>
					  <p><i class="icon-quote-left"></i> {{nezoquote}} <i class="icon-quote-right"></i></p>
					</div>
				</div>
				<div class="span1"></div>
			</div>
		</div>
	</div>
</template>
